<h1>View User</h1>
<button mat-flat-button color="primary" (click)="close()">Back</button>&nbsp;&nbsp;
<div class="form-group">
  <label for="Name">Name:</label>
  {{data.Name}}
</div>
<div class="form-group">
  <label for="Username">Username:</label>
  {{data.Username}}
</div>
<div class="form-group">
  <label for="Email">Email:</label>
  {{data.Email}}
</div>
<div class="form-group">
  <label for="Roles">Roles:</label>
  {{data.isAdmin ? 'Administrator, ' : ''}}
  {{data.isCustomerService ? 'Customer Service, ' : ''}}
  {{data.isPicker ? 'Picker, ' : ''}}
  {{data.isPickManager ? 'Pick Manager, ' : ''}}
</div>
<div class="form-group">
  <label for="Active">Active:</label>
  {{data.isActive ? 'Active' : 'Inactive'}}
</div>